<header>
    <h1>Winnie Odokara's Wise Owl | ITIS3135</h1>
    <p class="tagline">Learning web development with a security-first mindset.</p>
    <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="about.html">About</a>
        <a href="contract.html">Contract</a>
        <a href="survey.html">Survey</a>
        <a href="cards.html">Cards</a>
        <a href="inventory.html">Inventory</a>
        <a href="documentation.html">Documentation</a>
        <a href="product.html">Product</a>
        <a href="website_evaluations.html">Website Evaluations</a>
    </nav>

    <p class="secondary-menu-label">Other Projects</p>

    <nav class="secondary-nav">
        <a href="../">Personal Page</a>
        <a href="odokarawebdesign.com/">Design Firm</a>
        <a href="stuff/ThiS%20is%20AwFuL%20😭-PAGE.htm">CRAPpy Page</a>
    </nav>
</header>